<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
</head>
<body id="body">
    <div id="form-container">
        <h2 id="form-heading">Login</h2>

        <!-- Display flash messages in the form -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="{{ category }}-message" class="flash-message">
                        {{ message }} <!-- Display the error message here -->
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form id="login-form" action="{{ url_for('admin_login') }}" method="POST">
            <label id="username-label" for="username">Username</label>
            <input id="username" type="text" name="username" required><br><br>

            <label id="password-label" for="password">Password</label>
            <input id="password" type="password" name="password" required><br><br>

            <button id="submit-button" type="submit">Login</button>
        </form>
        <p id="register-link">
            Don't have an account? <a id="register-link-anchor" href="{{ url_for('admin_register') }}">Register here</a>
        </p>
    </div>
</body>
</html>

