<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_register.css') }}">
</head>
<body id="body">
    <div id="form-container">
        <form id="register-form" action="{{ url_for('admin_register') }}" method="POST">
            <label id="username-label" for="username">Username</label>
            <input id="username" type="text" name="username" required><br><br>

            <label id="password-label" for="password">Password</label>
            <input id="password" type="password" name="password" required><br><br>

            <button id="submit-button" type="submit">Register</button>
        </form>
        <p id="login-link">
            Already have an account? <a id="login-link-anchor" href="{{ url_for('admin_login') }}">Login here</a>
        </p>
    </div>
</body>
</html>

